{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Main">
        <a class="site-title" href="{{ '/' | relative_url }}">
          {% unless logo_path == empty %}<img class="site-title__mark" src="{{ logo_path | relative_url }}" alt="" width="22" height="29">{% endunless %}
          <span class="site-title__abbr" aria-hidden="true">NILC</span>
          <span class="site-title__full">National Interdisciplinary <br>Lookout Conference</span>
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            {% assign link_url = link.url | relative_url %}
            {% assign here = page.url | relative_url %}
            <li class="masthead__menu-item">
              <a
                href="{{ link_url }}"
                {% if here == link_url or here contains link_url and link.url != '/' %} aria-current="page"{% endif %}
                {% if link.description %} title="{{ link.description }}"{% endif %}
                {% if link.target %} target="{{ link.target }}"{% endif %}
              >{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
  <span class="azimuth masthead__scale" aria-hidden="true"></span>
</div>
